*{
padding: 0;
margin: 0;
box-sizing: border-box;
overflow: hidden;
}

body{
height: 100vh;
background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url('mountains.jpeg');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 5%;
}

.navigation ul li{
    display: inline-block;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
 }
 
 .navigation ul li a{
     text-decoration: none;
     font-family: Arial, Helvetica, sans-serif;
     font-weight: 500;
     color: orange;
 }

.navigation h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: left;
    color: orange;
}

.navigation li a:hover {
    color: orange;
    transition: 0.2s;
    text-decoration: underline;
}

.navigation li a.active{
    text-decoration: underline;
    color: orange;
}

.intro{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
margin-top: 10%;
font-size: 27px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-weight: bolder;
color: white;
padding: 60px;

}

.intro input{
    position: relative;
    left: -3%;
    margin-top: 5%;
    width: 190px;
    height: 50px;
    border-radius: 25px;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    color: black;
    background-color: white;
    cursor: pointer;
    
}

.intro input:hover{
    background-color: orange;
    transition: 0.2s;
}

